<form action="/configuration" method="post">
    <input type="hidden" name="id" value="<%= id %>">
    <div class="mb-3">
        <label for="tableName" class="form-label">Table name:</label>
        <input type="text" class="form-control" name="tableName" id="tableName" placeholder="Enter table name" required
            value="<%= tableName %>">
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
</form>