<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Open Table Soccer </title>
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
</head>

<body class="p-4">
    <%- include('./partials/navbar'); %>
        <div class="container">
            <%- body %>
        </div>
        <script src="/bootstrap/js/bootstrap.bundle.min.js" defer></script>
</body>

</html>